[Unit]
Description=Escape machine python app
Wants=network-online.target
After=network-online.target

[Service]
PIDFile=/var/run/escapemachine.pid
WorkingDirectory=/home/pi/escapemachine
ExecStart=/usr/bin/python escape.py

[Install]
WantedBy=multi-user.target
