[Unit]
Description=Escape machine python app
Wants=network-online.target
After=network-online.target

[Service]
PIDFile=/var/run/escapemachine.pid
WorkingDirectory=/usr/local/escapemachine
ExecStart=/bin/bash escape.sh

[Install]
WantedBy=multi-user.target
