<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Caravan Escape</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-switch.min.css" rel="stylesheet">
      <style>
          body {
              background-color: black;
              margin: 2%
          }

          .jelleblock {
              background-color: lightgrey;
              padding: 2%;
              border-radius: 10px;
              margin: 2%;
          }

          .nav-tabs li {
              background-color: lightgrey;
              font-weight: bold;
          }

      </style>
  </head>
  <body>
     <div class="container">

     <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
          <li><a data-toggle="tab" href="#log">System</a></li>
          <li><a data-toggle="tab" href="#sounds">Hints</a></li>
     </ul>


<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
         <div class="row jelleblock">
         <!-- All the states known to the system, passed on page creation -->
            <div class="col-md-6 col-xs-12" id="statelist">
                {%  for state in states.values() %}
                    <button type="button" class="btn btn-lg btn-block" id="{{ state }}">{{ state }}</button><br>
                {%  endfor %}
            </div>
            <div class="col-md-6 col-xs-12">
            <!-- All the output pins known to the system, passed on page creation -->
            {%  for pin in outputpins.values() %}
                <div class="row">
                    <div class="col-md-6 col-xs-4">
                        <h4 class="pull-right">{{ pin.name }}</h4>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <input type="checkbox" name="switchbutton" data-size="large" id="{{ pin.name }}" {% if pin.is_on %}checked{% endif %}>
                    </div>
                </div>
                {% endfor  %}
            </div>
        </div>

      <div class="row jelleblock">
          <div class="row">
            <div class="col-xs-3">
                <button type="button" class="btn btn-lg btn-block" id="swstart"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            </div>
          <div class="col-xs-6">
            <h2 class="text-center" id="swclock" >0:00</h2>
          </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-lg btn-block" id="swstop"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
            </div>
            </div>
           <ul id="swresults" class="list-group">

           </ul>
        </div>
   </div>

         <div id="log" class="tab-pane fade in">
            <div class="row jelleblock">
                <div class="col-md-6">
                    <button type="button" class="btn btn-lg btn-block btn-danger" id="shutdown">Shutdown!</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-lg btn-block btn-danger" id="reboot">Reboot!</button>
                </div>
            </div>


             <div class="row jelleblock">
                <div class="col-md-12">
                    <ul id="loglist" class="list-group">
                    </ul>
                </div>
            </div>

         </div>

         <div id="sounds" class="tab-pane fade in">
            <div class="row jelleblock">
                <div class="col-md-12">
                    <h3><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;<span id="playing" >(not playing)</span></h3>
                </div>
            </div>

            <div class="row jelleblock">
                <div class="col-md-12">
                    <ul id="soundlist" class="list-group">
                       {%  for sound in sounds %}
                        <li class="list-group-item">{{ sound }}
                       {% endfor %}
                    </ul>
                </div>
            </div>
         </div>

    </div>
 </div>

    <script src="static/js/jquery-2.1.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-switch.min.js"></script>
    <script language="javascript">

        function timestamp() {
            return Math.floor(Date.now() / 1000)
        }

        function sw_log(text) {
            swval = $("#swclock").text()
            $("#swresults").append("<li class='list-group-item'>" + swval + " - " + text)
        }

var last_state
function get_state() {
    $.getJSON("/state", function (data) {
        // First, set all buttons to grey except for the active state
        $("#statelist button").removeClass("btn-primary btn-success")
        $("#" + data.state).addClass("btn-primary")

        // If state has changed since last state and the stopwatch started, add to saved times
        if(sw_interval && (data.state != last_state) ) {
            sw_log(data.state)
            last_state = data.state
        }

        // If a playing sound was received, display that to the user
        if (data.sound) {
            $("#playing").text(data.sound)
        } else {
            $("#playing").text("(none right now)")
        }

        // Finally, put the switches in the same condition as the server thinks they are
        for (var pin in data.outputpins) {
            $("#" + pin).bootstrapSwitch('state', data.outputpins[pin], true);
        }

        if(data.logs) {
            $("#loglist").empty()
            for(var log in data.logs) {
                $("#loglist").append("<li class='list-group-item'>" + data.logs[log])
            }
        }
    })
}

function update_sw() {
    diff = (timestamp() - sw_starttime)
    minutes = Math.floor(diff / 60)
    secs = ("0" + (diff - minutes * 60)).substr(-2)
    valstring = minutes + ":" + secs
    $("#swclock").text(valstring)
}

var sw_interval
var sw_starttime = 0
$( document ).ready(function() {
    // When clicking on a state button, set the state server side and mark the button green
    // It will catch up later with the getstate function
    $("#statelist button").click(function(){
        $(this).addClass("btn-success")
        $.get("/state/" + $(this).attr("id"))
    })

    // If someone clicks the switch, call the server to follow
    $("input[name='switchbutton']").on('switchChange.bootstrapSwitch', function(e){
            $.get("/switch/" + $(this).attr("id") + "/" + $(this).is(':checked'))
        }
    )

    // Send a request to play said MP3 server side
    $("#soundlist li").click(function(){
        $.get("/play/" + $(this).text())
    })

    // Send a request to shutdown c.h.i.p.
    $("#shutdown").click(function(){
        $.get("/shutdown")
    })
    $("#reboot").click(function(){
        $.get("/reboot")
    })

    //Stopwatch functions
    $("#swstart").click(function() {
        if(!sw_interval){
            $("#swresults").empty()
            sw_starttime = timestamp()
            sw_interval = setInterval(update_sw,1)
        }
    })
    $("#swstop").click(function() {
        if(sw_interval) {
            clearInterval(sw_interval);
            sw_interval = null;
            sw_log("Stopped!")
        }
    })

    // Kick off the state Ajax requests, repeat until page death
    get_state()
    setInterval(get_state,2000)
})
  </script>
  </body>
</html>